---
layout: default
---  
      <div class = "page-header-wrap">
        <div class = "wrap"> 
         <div class = "intro">
            <h1> Emily Lu</h1>
            <h2> Boston College • Computer Science</h2>
             <p> 
               Hi I'm Emily! I'm a junior at <a class = "greylink" href = "http://www.bc.edu/"> Boston College</a> studying computer science. Last summer, I interned at <a class = "greylink"  href="https://wayfair.com">Wayfair</a>. I enjoy <a class = "greylink" href="/art">drawing</a> and playing tennis, and I'm always looking to <a class = "greylink" href = "http://github.com/emilydlu"> learn</a>. <br> If you have any questions, feel free to  <a class = "greylink" href="#" id = "email" data-toggle = "popover" title = "Email:" data-trigger = "hover" data-content="emilydlu@gmail.com"> reach out </a>.
            </p>
            <div class="social-media-links"> 
              <a href = "http://github.com/emilydlu" class="icon-link" target="_blank">
                <svg class = "icon icon-github.svg" width = "20" height = "20">
                  {% include icon-github.svg %}
                </svg>
              </a>
              <a href = "http://facebook.com/emily.lu.568" class="icon-link" target="_blank">
                <svg class = "icon icon-facebook.svg" width = "20" height = "20">
                  {% include icon-facebook.svg %}
                </svg>
              </a>
              <a href = "http://linkedin.com/in/emilydlu" class="icon-link" target="_blank">
                <svg class = "icon icon-linkedin1.svg" width = "20" height = "20">
                  {% include icon-linkedin1.svg %}
                </svg>
              </a>
	      <a href = "http://instagram.com/emilydlu" class="icon-link" target="_blank">
		<svg class="icon instagram1.svg" width="20" height="20">
		{% include instagram1.svg %} 
		</svg>
		</a>
            </div>
          </div>
          <div class = "my-avatar"> 
              <section role="banner">
                <img src="/images/avatar.jpg"/>
              </section>        
          </div>  
        </div>
        </div>
    </div>
    <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover(); 
    });
    </script>

    
