---
---

@charset "utf-8";

$asset_url: '{{ '/assets' | absolute_url }}';

@import 
  "reset",
  "variables",
  "syntax-highlighting",
  "mixins",
  "font",
  "base",
  "masthead",
  "menu",
  "post-list",
  "article",
  "footnotes",
  "search"
;


#contained {
    transform: translate(-90%, -50%);
    top: 50%;
    left: 90%;
    position: absolute;
  }

.yellow-monster:hover { 
  fill: pink;
}

.blue-ghost:hover { 
  fill: white;
}

.github:hover { 
  fill: #ffd400;
}
.social { 
  display: none;
}

#twitter { 
  display: none; 
}

.books {
  display:none;
}

.additional-format { 
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
}

h9 { 
    display: block;
    font-size: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 20px;
    font-family: system-ui;
}

.book-container { 
    margin-left: 20px;
}

a:hover {
  color: blue;
}